<div class="{{inputContainerClassName}}">
  <div class="{{inputLabelClassName}}">{{label}}</div>
  <input class="{{inputClassName}}" placeholder="{{placeholder}}" type="{{type}}" {{#if disabled}} disabled {{/if}}
    name="{{name}}" {{#if value}} value={{value}} {{/if}} />
</div>
